* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.square {
	height: 100px;
	width: 100px;
	background-color: aquamarine;
	border: 1px solid black;
}

.squareHolder {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 300px;
}

.center {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.X {
	border: 5px dotted yellow;
}

.O {
	border: 7px solid blue;
}
